<h1>Deep Reinforcement Learning for Atari Games!</h1>
<style>
    h1 {
        text-align: center;
    }
</style>
<p>
    In this page, we are learning about how Deep Reinforcement Learning was used to play Atari! <br>
    Here is an index of what you can find from this webpage!
</p>
<ul>
    {{#indexes}}
        <li>
            {{serial}}. {{name}} [ <span style="color: red">{{description}}</span> ]
        </li>
    {{/indexes}}
</ul>

